.cell {
  width: 20px;
  height: 20px;
  display: inline-block;
  background: #ccc;
  margin: 0 2px;
  color: white;
  text-align: center;
  line-height: 20px;
}

.cell.open {
  background: blue;
}

.cell.bump {
  background: red;
}
