body, #root {
  height: 100%;
}

.container {
  /* display: flex;
  align-items: center;
  justify-content: center; */

  text-align: center;
  margin-top: 20px;
}

.cell {
  width: 20px;
  height: 20px;
  display: inline-block;
  background: #ccc;
  margin: 0 2px;
  color: #ccc;
  text-align: center;
  line-height: 20px;
  vertical-align: middle;
  -webkit-user-select: none;
}

.cell.open {
  background: blue;
  color: white;
}

.cell.bump.open {
  background: red;
}
